<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.corona.mapper.CoronaMapper">

	<select id="getWorldList" resultType="Corona">
		SELECT
			'중국' AS COUNTRY
			, 1 AS CONFIRMED
			, 0 AS DEATHS
			, 0 AS RECOVERED
	</select>
	
	<insert id="insertData">
		
	</insert>
</mapper>