<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.corona.mapper.WorldDailyReportMapper">

	<select id="getWorldList" resultType="WorldDailyReport">
		SELECT 
    		@rownum:=@rownum + 1 AS NUM
    		, A.COUNTRY AS COUNTRYID
	        , CASE 
				WHEN B.KOREAN_NM IS NULL 
				THEN B.ENGLISH_NM
				ELSE B.KOREAN_NM
		      END AS COUNTRYNAME
		    , A.CONFIRMED
		    , A.DEATHS
		    , A.RECOVERED
		    , DATE_FORMAT(A.UPDATED_DATE, '%Y년%m월%d일') AS UPDATEDDATE
		FROM
		    DEV_CORONA.WORLD_DAILY A
		JOIN
		    DEV_CORONA.COUNTRY_INFO B
		ON
			A.COUNTRY = B.ID
		WHERE
		    DATE_FORMAT(A.UPDATED_DATE, '%y%m%d') = DATE_FORMAT(NOW(), '%y%m%d')
		AND 
			(@rownum:=0) = 0
		ORDER BY 
			A.CONFIRMED DESC
	</select>
	
	<insert id="insertWorldList" parameterType="java.util.List">
		INSERT INTO
			DEV_CORONA.WORLD_DAILY
		(
			COUNTRY
			, CONFIRMED
			, DEATHS
			, RECOVERED
		)
		VALUES
		<foreach collection="list" item="item" separator=" , " >
		(
			#{item.countryId}
			, #{item.confirmed}
			, #{item.deaths}
			, #{item.recovered}
		)
	    </foreach>
	</insert>
	
	<select id="getDetailList" resultType="WorldDailyReport">
		SELECT
			@rownum:=@rownum+1 AS NUM
			, DATE_FORMAT(A.UPDATED_DATE, '%Y-%m-%d') AS UPDATEDDATE
			, CASE 
				WHEN B.KOREAN_NM IS NULL 
				THEN B.ENGLISH_NM
				ELSE B.KOREAN_NM
			  END AS COUNTRYNAME
			, A.CONFIRMED
			, A.DEATHS
			, A.RECOVERED
		FROM
			DEV_CORONA.WORLD_DAILY A
		JOIN
			DEV_CORONA.COUNTRY_INFO B
		ON
			A.COUNTRY = B.ID
		WHERE
			A.COUNTRY = #{COUNTRY}
		AND 
			(@rownum:=0) = 0
		ORDER BY
			A.UPDATED_DATE DESC
		LIMIT 30
	</select>
	
	<select id="getCountryList" resultType="string">
		SELECT
			ENGLISH_NM
		FROM 
			DEV_CORONA.COUNTRY_INFO
		ORDER BY
			ID
	</select>
	
	<insert id="addCountryList" parameterType="java.util.List">
		INSERT INTO
			DEV_CORONA.COUNTRY_INFO
		(
			ENGLISH_NM
		)
		VALUES
		<foreach collection="list" item="item" separator=" , " >
		(
			#{item}
		)
	    </foreach>
	</insert>
</mapper>