<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.corona.mapper.WorldDailyReportMapper">

	<!-- 코로나 정보 취득 -->
	<select id="getWorldList" resultType="WorldDailyReport">
		SELECT 
    		A.COUNTRY AS COUNTRYID
	        , CASE 
				WHEN B.KOREAN_NM IS NULL 
				THEN B.ENGLISH_NM
				ELSE B.KOREAN_NM
		      END AS COUNTRYNAME
		    , MAX(A.CONFIRMED) AS CONFIRMED
		    , MAX(A.DEATHS) AS DEATHS
		    , MAX(A.RECOVERED) AS RECOVERED
		    , MAX(DATE_FORMAT(A.UPDATED_DATE, '%Y년%m월%d일')) AS UPDATEDDATE
		FROM
		    WORLD_DAILY A
		JOIN
		    COUNTRY_INFO B
		ON
			A.COUNTRY = B.ID
		GROUP BY
			COUNTRYID
			, COUNTRYNAME
		ORDER BY 
			MAX(A.CONFIRMED) DESC
	</select>
	
	<!-- 코로나 정보 등록 -->
	<insert id="insertWorldList" parameterType="java.util.List">
		INSERT INTO
			WORLD_DAILY
		(
			COUNTRY
			, CONFIRMED
			, DEATHS
			, RECOVERED
		)
		VALUES
		<foreach collection="list" item="item" separator=" , " >
		(
			#{item.countryId}
			, #{item.confirmed}
			, #{item.deaths}
			, #{item.recovered}
		)
	    </foreach>
	</insert>
	
	<!-- 특정 국가의 코로나 정보 취득 -->
	<select id="getDetailList" resultType="WorldDailyReport">
		SELECT
			DATE_FORMAT(A.UPDATED_DATE, '%Y-%m-%d') AS UPDATEDDATE
			, CASE 
				WHEN B.KOREAN_NM IS NULL 
				THEN B.ENGLISH_NM
				ELSE B.KOREAN_NM
			  END AS COUNTRYNAME
			, A.CONFIRMED
			, A.DEATHS
			, A.RECOVERED
		FROM
			WORLD_DAILY A
		JOIN
			COUNTRY_INFO B
		ON
			A.COUNTRY = B.ID
		WHERE
			A.COUNTRY = #{COUNTRY}
		ORDER BY
			A.UPDATED_DATE DESC
		LIMIT 30
	</select>
	
	<!-- 국가 정보 취득 -->
	<select id="getCountryList" resultType="string">
		SELECT
			ENGLISH_NM
		FROM 
			COUNTRY_INFO
		ORDER BY
			ID
	</select>
	
	<!-- 국가 정보 등록 -->
	<insert id="addCountryList" parameterType="java.util.List">
		INSERT INTO
			COUNTRY_INFO
		(
			ENGLISH_NM
		)
		VALUES
		<foreach collection="list" item="item" separator=" , " >
		(
			#{item}
		)
	    </foreach>
	</insert>
</mapper>