<html xmlns:th="http://www.thymeleaf.org" lang="ko">
	<head>
		<title>코로나19 (COVID-19) 세계 현황</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body>
		<!-- jumbotron -->
		<div class="jumbotron jumbotron-fluid bg-dark text-light">
			<div class="container">
				<h1 class="display-4 text-center">
					코로나19 (COVID-19) <br>
					세계 현황
				</h1>
			</div>
		</div>

		<!-- data -->
		<div class="container">
			<div class="row">
				<div class="col">
					<h5 th:inline="text" class="text-right">
						[[${updatedDate}]] 기준
					</h5>
				</div>
			</div>
			
			<div id="chartdiv" style="max-width:100%; height:600px"></div>
			
			<h6 th:inline="text" class="text-right text-muted">
				출처: 존스 홉킨스 코로나 바이러스 리소스 센터 (JOHNS HOPKINS CORONAVIRUS RESOURCE CENTER)
			</h6>

			<div class="row">
				<div class="col table-responsive-sm">
					<!-- data list -->
					<table class="table table-hover text-center">
						<thead>
							<tr class="thead-light">
								<th scope="col">No.</th>
								<th scope="col">국가</th>
								<th scope="col">확진환자</th>
								<th scope="col">사망자</th>
								<th scope="col">격리해제</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="row, index : ${worldList}">
								<th th:text="${index.index} + 1" scope="row"></th>
								<td>
									<a th:text="${row.countryName}" th:href="@{/{id}(id=${row.countryId})}"></a>
								</td>
								<td th:text="${#numbers.formatInteger(row.confirmed, 1, 'COMMA')}"></td>
								<td th:text="${#numbers.formatInteger(row.deaths, 1, 'COMMA')}"></td>
								<td th:text="${#numbers.formatInteger(row.recovered, 1, 'COMMA')}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
			<!-- amChart Map with Bubble -->
			<script src="https://www.amcharts.com/lib/4/core.js"></script>
			<script src="https://www.amcharts.com/lib/4/maps.js"></script>
			<script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
			<!-- Chart code -->
			<script>
			am4core.ready(function() {
			
				<!-- Create map instance -->
				var chart = am4core.create("chartdiv", am4maps.MapChart);
				
				<!-- Get values -->
				var map = new Map();
				var length = $("tr").length;
				for(var i = 1; i < length; i++) {
					var name = $("tr:nth-child(" + i + ") td:nth-child(2)")[0].children[0].text;
					var path = $("tr:nth-child(" + i + ") td:nth-child(2)")[0].children[0].pathname;
					var value = $("tr:nth-child(" + i + ") td:nth-child(3)")[0].innerText.replace(",", "");
					
					map.set(name, {path, value});
				}
				
				<!-- Set values -->
				var mapData = [
				  { "id":"AF", "name":"아프가니스탄", "path":(map.has("아프가니스탄")) ? map.get("아프가니스탄").path : "", "value":(map.has("아프가니스탄")) ? map.get("아프가니스탄").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"AL", "name":"알바니아", "path":(map.has("알바니아")) ? map.get("알바니아").path : "", "value":(map.has("알바니아")) ? map.get("알바니아").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"DZ", "name":"알제리", "path":(map.has("알제리")) ? map.get("알제리").path : "", "value":(map.has("알제리")) ? map.get("알제리").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"AO", "name":"앙골라", "path":(map.has("앙골라")) ? map.get("앙골라").path : "", "value":(map.has("앙골라")) ? map.get("앙골라").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"AR", "name":"아르헨티나", "path":(map.has("아르헨티나")) ? map.get("아르헨티나").path : "", "value":(map.has("아르헨티나")) ? map.get("아르헨티나").value : "0", "color":chart.colors.getIndex(3) },
				  { "id":"AM", "name":"아르메니아", "path":(map.has("아르메니아")) ? map.get("아르메니아").path : "", "value":(map.has("아르메니아")) ? map.get("아르메니아").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"AU", "name":"호주", "path":(map.has("호주")) ? map.get("호주").path : "", "value":(map.has("호주")) ? map.get("호주").value : "0", "color":"#8aabb0" },
				  { "id":"AT", "name":"오스트리아", "path":(map.has("오스트리아")) ? map.get("오스트리아").path : "", "value":(map.has("오스트리아")) ? map.get("오스트리아").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"AZ", "name":"아제르바이잔", "path":(map.has("아제르바이잔")) ? map.get("아제르바이잔").path : "", "value":(map.has("아제르바이잔")) ? map.get("아제르바이잔").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"BH", "name":"바레인", "path":(map.has("바레인")) ? map.get("바레인").path : "", "value":(map.has("바레인")) ? map.get("바레인").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"BD", "name":"방글라데시", "path":(map.has("방글라데시")) ? map.get("방글라데시").path : "", "value":(map.has("방글라데시")) ? map.get("방글라데시").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"BY", "name":"벨로루시", "path":(map.has("벨로루시")) ? map.get("벨로루시").path : "", "value":(map.has("벨로루시")) ? map.get("벨로루시").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"BE", "name":"벨기에", "path":(map.has("벨기에")) ? map.get("벨기에").path : "", "value":(map.has("벨기에")) ? map.get("벨기에").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"BJ", "name":"베냉", "path":(map.has("베냉")) ? map.get("베냉").path : "", "value":(map.has("베냉")) ? map.get("베냉").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"BT", "name":"부탄", "path":(map.has("부탄")) ? map.get("부탄").path : "", "value":(map.has("부탄")) ? map.get("부탄").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"BO", "name":"볼리비아", "path":(map.has("볼리비아")) ? map.get("볼리비아").path : "", "value":(map.has("볼리비아")) ? map.get("볼리비아").value : "0", "color":chart.colors.getIndex(3) },
				  { "id":"BA", "name":"보스니아 헤르체코비나", "path":(map.has("보스니아 헤르체코비나")) ? map.get("보스니아 헤르체코비나").path : "", "value":(map.has("보스니아 헤르체코비나")) ? map.get("보스니아 헤르체코비나").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"BW", "name":"보츠와나", "path":(map.has("보츠와나")) ? map.get("보츠와나").path : "", "value":(map.has("보츠와나")) ? map.get("보츠와나").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"BR", "name":"브라질", "path":(map.has("브라질")) ? map.get("브라질").path : "", "value":(map.has("브라질")) ? map.get("브라질").value : "0", "color":chart.colors.getIndex(3) },
				  { "id":"BN", "name":"브루나이", "path":(map.has("브루나이")) ? map.get("브루나이").path : "", "value":(map.has("브루나이")) ? map.get("브루나이").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"BG", "name":"불가리아", "path":(map.has("불가리아")) ? map.get("불가리아").path : "", "value":(map.has("불가리아")) ? map.get("불가리아").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"BF", "name":"부르키나 파소", "path":(map.has("부르키나 파소")) ? map.get("부르키나 파소").path : "", "value":(map.has("부르키나 파소")) ? map.get("부르키나 파소").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"BI", "name":"부룬디", "path":(map.has("부룬디")) ? map.get("부룬디").path : "", "value":(map.has("부룬디")) ? map.get("부룬디").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"KH", "name":"캄보디아", "path":(map.has("캄보디아")) ? map.get("캄보디아").path : "", "value":(map.has("캄보디아")) ? map.get("캄보디아").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"CM", "name":"카메룬", "path":(map.has("카메룬")) ? map.get("카메룬").path : "", "value":(map.has("카메룬")) ? map.get("카메룬").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"CA", "name":"캐나다", "path":(map.has("캐나다")) ? map.get("캐나다").path : "", "value":(map.has("캐나다")) ? map.get("캐나다").value : "0", "color":chart.colors.getIndex(4) },
				  { "id":"CV", "name":"카보베르데", "path":(map.has("카보베르데")) ? map.get("카보베르데").path : "", "value":(map.has("카보베르데")) ? map.get("카보베르데").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"CF", "name":"중앙아프리카 공화국", "path":(map.has("중앙아프리카 공화국")) ? map.get("중앙아프리카 공화국").path : "", "value":(map.has("중앙아프리카 공화국")) ? map.get("중앙아프리카 공화국").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"TD", "name":"차드", "path":(map.has("차드")) ? map.get("차드").path : "", "value":(map.has("차드")) ? map.get("차드").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"CL", "name":"칠레", "path":(map.has("칠레")) ? map.get("칠레").path : "", "value":(map.has("칠레")) ? map.get("칠레").value : "0", "color":chart.colors.getIndex(3) },
				  { "id":"CN", "name":"중국", "path":(map.has("중국")) ? map.get("중국").path : "", "value":(map.has("중국")) ? map.get("중국").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"CO", "name":"콜롬비아", "path":(map.has("콜롬비아")) ? map.get("콜롬비아").path : "", "value":(map.has("콜롬비아")) ? map.get("콜롬비아").value : "0", "color":chart.colors.getIndex(3) },
				  <!-- { "id":"KM", "name":"코모로", "path":map.get("코모로").path, "value":map.get("코모로").value, "color":chart.colors.getIndex(2) }, -->
				  { "id":"CD", "name":"콩고 민주 공화국", "path":(map.has("콩고 민주 공화국")) ? map.get("콩고 민주 공화국").path : "", "value":(map.has("콩고 민주 공화국")) ? map.get("콩고 민주 공화국").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"CG", "name":"콩고", "path":(map.has("콩고")) ? map.get("콩고").path : "", "value":(map.has("콩고")) ? map.get("콩고").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"CR", "name":"코스타리카", "path":(map.has("코스타리카")) ? map.get("코스타리카").path : "", "value":(map.has("코스타리카")) ? map.get("코스타리카").value : "0", "color":chart.colors.getIndex(4) },
				  { "id":"CI", "name":"코트디부아르", "path":(map.has("코트디부아르")) ? map.get("코트디부아르").path : "", "value":(map.has("코트디부아르")) ? map.get("코트디부아르").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"HR", "name":"크로아티아", "path":(map.has("크로아티아")) ? map.get("크로아티아").path : "", "value":(map.has("크로아티아")) ? map.get("크로아티아").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"CU", "name":"쿠바", "path":(map.has("쿠바")) ? map.get("쿠바").path : "", "value":(map.has("쿠바")) ? map.get("쿠바").value : "0", "color":chart.colors.getIndex(4) },
				  { "id":"CY", "name":"키프로스", "path":(map.has("키프로스")) ? map.get("키프로스").path : "", "value":(map.has("키프로스")) ? map.get("키프로스").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"CZ", "name":"체코", "path":(map.has("체코")) ? map.get("체코").path : "", "value":(map.has("체코")) ? map.get("체코").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"DK", "name":"덴마크", "path":(map.has("덴마크")) ? map.get("덴마크").path : "", "value":(map.has("덴마크")) ? map.get("덴마크").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"DJ", "name":"지부티", "path":(map.has("지부티")) ? map.get("지부티").path : "", "value":(map.has("지부티")) ? map.get("지부티").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"DO", "name":"도미니카 공화국", "path":(map.has("도미니카 공화국")) ? map.get("도미니카 공화국").path : "", "value":(map.has("도미니카 공화국")) ? map.get("도미니카 공화국").value : "0", "color":chart.colors.getIndex(4) },
				  { "id":"EC", "name":"에콰도르", "path":(map.has("에콰도르")) ? map.get("에콰도르").path : "", "value":(map.has("에콰도르")) ? map.get("에콰도르").value : "0", "color":chart.colors.getIndex(3) },
				  { "id":"EG", "name":"이집트", "path":(map.has("이집트")) ? map.get("이집트").path : "", "value":(map.has("이집트")) ? map.get("이집트").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"SV", "name":"엘살바도르", "path":(map.has("엘살바도르")) ? map.get("엘살바도르").path : "", "value":(map.has("엘살바도르")) ? map.get("엘살바도르").value : "0", "color":chart.colors.getIndex(4) },
				  { "id":"GQ", "name":"적도 기니", "path":(map.has("적도 기니")) ? map.get("적도 기니").path : "", "value":(map.has("적도 기니")) ? map.get("적도 기니").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"ER", "name":"에리트레아", "path":(map.has("에리트레아")) ? map.get("에리트레아").path : "", "value":(map.has("에리트레아")) ? map.get("에리트레아").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"EE", "name":"에스토니아", "path":(map.has("에스토니아")) ? map.get("에스토니아").path : "", "value":(map.has("에스토니아")) ? map.get("에스토니아").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"ET", "name":"에티오피아", "path":(map.has("에티오피아")) ? map.get("에티오피아").path : "", "value":(map.has("에티오피아")) ? map.get("에티오피아").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"FJ", "name":"피지", "path":(map.has("피지")) ? map.get("피지").path : "", "value":(map.has("피지")) ? map.get("피지").value : "0", "color":"#8aabb0" },
				  { "id":"FI", "name":"핀란드", "path":(map.has("핀란드")) ? map.get("핀란드").path : "", "value":(map.has("핀란드")) ? map.get("핀란드").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"FR", "name":"프랑스", "path":(map.has("프랑스")) ? map.get("프랑스").path : "", "value":(map.has("프랑스")) ? map.get("프랑스").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"GA", "name":"가봉", "path":(map.has("가봉")) ? map.get("가봉").path : "", "value":(map.has("가봉")) ? map.get("가봉").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"GM", "name":"감비아", "path":(map.has("감비아")) ? map.get("감비아").path : "", "value":(map.has("감비아")) ? map.get("감비아").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"GE", "name":"조지아", "path":(map.has("조지아")) ? map.get("조지아").path : "", "value":(map.has("조지아")) ? map.get("조지아").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"DE", "name":"독일", "path":(map.has("독일")) ? map.get("독일").path : "", "value":(map.has("독일")) ? map.get("독일").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"GH", "name":"가나", "path":(map.has("가나")) ? map.get("가나").path : "", "value":(map.has("가나")) ? map.get("가나").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"GR", "name":"그리스", "path":(map.has("그리스")) ? map.get("그리스").path : "", "value":(map.has("그리스")) ? map.get("그리스").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"GT", "name":"과테말라", "path":(map.has("과테말라")) ? map.get("과테말라").path : "", "value":(map.has("과테말라")) ? map.get("과테말라").value : "0", "color":chart.colors.getIndex(4) },
				  { "id":"GN", "name":"기니", "path":(map.has("기니")) ? map.get("기니").path : "", "value":(map.has("기니")) ? map.get("기니").value : "0", "color":chart.colors.getIndex(2) },
				  <!-- { "id":"GW", "name":"기니비사우", "path":map.get("기니비사우").path, "value":map.get("기니비사우").value, "color":chart.colors.getIndex(2) }, -->
				  { "id":"GY", "name":"가이아나", "path":(map.has("가이아나")) ? map.get("가이아나").path : "", "value":(map.has("가이아나")) ? map.get("가이아나").value : "0", "color":chart.colors.getIndex(3) },
				  { "id":"HT", "name":"아이티", "path":(map.has("아이티")) ? map.get("아이티").path : "", "value":(map.has("아이티")) ? map.get("아이티").value : "0", "color":chart.colors.getIndex(4) },
				  { "id":"HN", "name":"온두라스", "path":(map.has("온두라스")) ? map.get("온두라스").path : "", "value":(map.has("온두라스")) ? map.get("온두라스").value : "0", "color":chart.colors.getIndex(4) },
				  <!-- { "id":"HK", "name":"홍콩", "value":7122187, "color": chart.colors.getIndex(0) }, -->
				  { "id":"HU", "name":"헝가리", "path":(map.has("헝가리")) ? map.get("헝가리").path : "", "value":(map.has("헝가리")) ? map.get("헝가리").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"IS", "name":"아이슬란드", "path":(map.has("아이슬란드")) ? map.get("아이슬란드").path : "", "value":(map.has("아이슬란드")) ? map.get("아이슬란드").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"IN", "name":"인도", "path":(map.has("인도")) ? map.get("인도").path : "", "value":(map.has("인도")) ? map.get("인도").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"ID", "name":"인도네시아", "path":(map.has("인도네시아")) ? map.get("인도네시아").path : "", "value":(map.has("인도네시아")) ? map.get("인도네시아").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"IR", "name":"이란", "path":(map.has("이란")) ? map.get("이란").path : "", "value":(map.has("이란")) ? map.get("이란").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"IQ", "name":"이라크", "path":(map.has("이라크")) ? map.get("이라크").path : "", "value":(map.has("이라크")) ? map.get("이라크").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"IE", "name":"아일랜드", "path":(map.has("아일랜드")) ? map.get("아일랜드").path : "", "value":(map.has("아일랜드")) ? map.get("아일랜드").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"IL", "name":"이스라엘", "path":(map.has("이스라엘")) ? map.get("이스라엘").path : "", "value":(map.has("이스라엘")) ? map.get("이스라엘").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"IT", "name":"이탈리아", "path":(map.has("이탈리아")) ? map.get("이탈리아").path : "", "value":(map.has("이탈리아")) ? map.get("이탈리아").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"JM", "name":"자메이카", "path":(map.has("자메이카")) ? map.get("자메이카").path : "", "value":(map.has("자메이카")) ? map.get("자메이카").value : "0", "color":chart.colors.getIndex(4) },
				  { "id":"JP", "name":"일본", "path":(map.has("일본")) ? map.get("일본").path : "", "value":(map.has("일본")) ? map.get("일본").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"JO", "name":"요르단", "path":(map.has("요르단")) ? map.get("요르단").path : "", "value":(map.has("요르단")) ? map.get("요르단").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"KZ", "name":"카자흐스탄", "path":(map.has("카자흐스탄")) ? map.get("카자흐스탄").path : "", "value":(map.has("카자흐스탄")) ? map.get("카자흐스탄").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"KE", "name":"케냐", "path":(map.has("케냐")) ? map.get("케냐").path : "", "value":(map.has("케냐")) ? map.get("케냐").value : "0", "color":chart.colors.getIndex(2) },
				  <!-- { "id":"KP", "name":"북한", "path":map.get("북한").path, "value":map.get("북한").value, "color": chart.colors.getIndex(0) }, -->
				  { "id":"KR", "name":"대한민국", "path":(map.has("대한민국")) ? map.get("대한민국").path : "", "value":(map.has("대한민국")) ? map.get("대한민국").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"KW", "name":"쿠웨이트", "path":(map.has("쿠웨이트")) ? map.get("쿠웨이트").path : "", "value":(map.has("쿠웨이트")) ? map.get("쿠웨이트").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"KG", "name":"키르기스스탄", "path":(map.has("키르기스스탄")) ? map.get("키르기스스탄").path : "", "value":(map.has("키르기스스탄")) ? map.get("키르기스스탄").value : "0", "color": chart.colors.getIndex(0) },
				  <!-- { "id":"LA", "name":"라오스", "path":map.get("라오스").path, "value":map.get("라오스").value, "color": chart.colors.getIndex(0) }, -->
				  { "id":"LV", "name":"라트비아", "path":(map.has("라트비아")) ? map.get("라트비아").path : "", "value":(map.has("라트비아")) ? map.get("라트비아").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"LB", "name":"레바논", "path":(map.has("레바논")) ? map.get("레바논").path : "", "value":(map.has("레바논")) ? map.get("레바논").value : "0", "color": chart.colors.getIndex(0) },
				  <!-- { "id":"LS", "name":"Lesotho", "value":2193843, "color":chart.colors.getIndex(2) }, -->
				  { "id":"LR", "name":"라이베리아", "path":(map.has("라이베리아")) ? map.get("라이베리아").path : "", "value":(map.has("라이베리아")) ? map.get("라이베리아").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"LY", "name":"리비아", "path":(map.has("리비아")) ? map.get("리비아").path : "", "value":(map.has("리비아")) ? map.get("리비아").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"LT", "name":"리투아니아", "path":(map.has("리투아니아")) ? map.get("리투아니아").path : "", "value":(map.has("리투아니아")) ? map.get("리투아니아").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"LU", "name":"룩셈부르크", "path":(map.has("룩셈부르크")) ? map.get("룩셈부르크").path : "", "value":(map.has("룩셈부르크")) ? map.get("룩셈부르크").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"MK", "name":"북마케도니아", "path":(map.has("북마케도니아")) ? map.get("북마케도니아").path : "", "value":(map.has("북마케도니아")) ? map.get("북마케도니아").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"MW", "name":"말라위", "path":(map.has("말라위")) ? map.get("말라위").path : "", "value":(map.has("말라위")) ? map.get("말라위").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"MY", "name":"말레이시아", "path":(map.has("말레이시아")) ? map.get("말레이시아").path : "", "value":(map.has("말레이시아")) ? map.get("말레이시아").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"ML", "name":"말리", "path":(map.has("말리")) ? map.get("말리").path : "", "value":(map.has("말리")) ? map.get("말리").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"MR", "name":"모리타니", "path":(map.has("모리타니")) ? map.get("모리타니").path : "", "value":(map.has("모리타니")) ? map.get("모리타니").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"MU", "name":"모리셔스", "path":(map.has("모리셔스")) ? map.get("모리셔스").path : "", "value":(map.has("모리셔스")) ? map.get("모리셔스").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"MX", "name":"멕시코", "path":(map.has("멕시코")) ? map.get("멕시코").path : "", "value":(map.has("멕시코")) ? map.get("멕시코").value : "0", "color":chart.colors.getIndex(4) },
				  { "id":"MD", "name":"몰도바", "path":(map.has("몰도바")) ? map.get("몰도바").path : "", "value":(map.has("몰도바")) ? map.get("몰도바").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"MN", "name":"몽골", "path":(map.has("몽골")) ? map.get("몽골").path : "", "value":(map.has("몽골")) ? map.get("몽골").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"ME", "name":"몬테네그로", "path":(map.has("몬테네그로")) ? map.get("몬테네그로").path : "", "value":(map.has("몬테네그로")) ? map.get("몬테네그로").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"MA", "name":"모로코", "path":(map.has("모로코")) ? map.get("모로코").path : "", "value":(map.has("모로코")) ? map.get("모로코").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"MZ", "name":"모잠비크", "path":(map.has("모잠비크")) ? map.get("모잠비크").path : "", "value":(map.has("모잠비크")) ? map.get("모잠비크").value : "0", "color":chart.colors.getIndex(2) },
				  <!-- { "id":"MM", "name":"Myanmar", "value":48336763, "color": chart.colors.getIndex(0) }, -->
				  { "id":"NA", "name":"나미비아", "path":(map.has("나미비아")) ? map.get("나미비아").path : "", "value":(map.has("나미비아")) ? map.get("나미비아").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"NP", "name":"네팔", "path":(map.has("네팔")) ? map.get("네팔").path : "", "value":(map.has("네팔")) ? map.get("네팔").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"NL", "name":"네덜란드", "path":(map.has("네덜란드")) ? map.get("네덜란드").path : "", "value":(map.has("네덜란드")) ? map.get("네덜란드").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"NZ", "name":"뉴질랜드", "path":(map.has("뉴질랜드")) ? map.get("뉴질랜드").path : "", "value":(map.has("뉴질랜드")) ? map.get("뉴질랜드").value : "0", "color":"#8aabb0" },
				  { "id":"NI", "name":"니카라과", "path":(map.has("니카라과")) ? map.get("니카라과").path : "", "value":(map.has("니카라과")) ? map.get("니카라과").value : "0", "color":chart.colors.getIndex(4) },
				  { "id":"NE", "name":"니제르", "path":(map.has("니제르")) ? map.get("니제르").path : "", "value":(map.has("니제르")) ? map.get("니제르").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"NG", "name":"나이지리아", "path":(map.has("나이지리아")) ? map.get("나이지리아").path : "", "value":(map.has("나이지리아")) ? map.get("나이지리아").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"NO", "name":"노르웨이", "path":(map.has("노르웨이")) ? map.get("노르웨이").path : "", "value":(map.has("노르웨이")) ? map.get("노르웨이").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"OM", "name":"오만", "path":(map.has("오만")) ? map.get("오만").path : "", "value":(map.has("오만")) ? map.get("오만").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"PK", "name":"파키스탄", "path":(map.has("파키스탄")) ? map.get("파키스탄").path : "", "value":(map.has("파키스탄")) ? map.get("파키스탄").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"PA", "name":"파나마", "path":(map.has("파나마")) ? map.get("파나마").path : "", "value":(map.has("파나마")) ? map.get("파나마").value : "0", "color":chart.colors.getIndex(4) },
				  { "id":"PG", "name":"파푸아뉴기니", "path":(map.has("파푸아뉴기니")) ? map.get("파푸아뉴기니").path : "", "value":(map.has("파푸아뉴기니")) ? map.get("파푸아뉴기니").value : "0", "color":"#8aabb0" },
				  { "id":"PY", "name":"파라과이", "path":(map.has("파라과이")) ? map.get("파라과이").path : "", "value":(map.has("파라과이")) ? map.get("파라과이").value : "0", "color":chart.colors.getIndex(3) },
				  { "id":"PE", "name":"페루", "path":(map.has("페루")) ? map.get("페루").path : "", "value":(map.has("페루")) ? map.get("페루").value : "0", "color":chart.colors.getIndex(3) },
				  { "id":"PH", "name":"필리핀", "path":(map.has("필리핀")) ? map.get("필리핀").path : "", "value":(map.has("필리핀")) ? map.get("필리핀").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"PL", "name":"폴란드", "path":(map.has("폴란드")) ? map.get("폴란드").path : "", "value":(map.has("폴란드")) ? map.get("폴란드").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"PT", "name":"포르투갈", "path":(map.has("포르투갈")) ? map.get("포르투갈").path : "", "value":(map.has("포르투갈")) ? map.get("포르투갈").value : "0", "color":chart.colors.getIndex(1) },
				  <!-- { "id":"PR", "name":"Puerto Rico", "value":3745526, "color":chart.colors.getIndex(4) }, -->
				  { "id":"QA", "name":"카타르", "path":(map.has("카타르")) ? map.get("카타르").path : "", "value":(map.has("카타르")) ? map.get("카타르").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"RO", "name":"루마니아", "path":(map.has("루마니아")) ? map.get("루마니아").path : "", "value":(map.has("루마니아")) ? map.get("루마니아").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"RU", "name":"러시아", "path":(map.has("러시아")) ? map.get("러시아").path : "", "value":(map.has("러시아")) ? map.get("러시아").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"RW", "name":"르완다", "path":(map.has("르완다")) ? map.get("르완다").path : "", "value":(map.has("르완다")) ? map.get("르완다").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"SA", "name":"사우디 아라비아", "path":(map.has("사우디 아라비아")) ? map.get("사우디 아라비아").path : "", "value":(map.has("사우디 아라비아")) ? map.get("사우디 아라비아").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"SN", "name":"세네갈", "path":(map.has("세네갈")) ? map.get("세네갈").path : "", "value":(map.has("세네갈")) ? map.get("세네갈").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"RS", "name":"세르비아", "path":(map.has("세르비아")) ? map.get("세르비아").path : "", "value":(map.has("세르비아")) ? map.get("세르비아").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"SL", "name":"시에라리온", "path":(map.has("시에라리온")) ? map.get("시에라리온").path : "", "value":(map.has("시에라리온")) ? map.get("시에라리온").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"SG", "name":"싱가포르", "path":(map.has("싱가포르")) ? map.get("싱가포르").path : "", "value":(map.has("싱가포르")) ? map.get("싱가포르").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"SK", "name":"슬로바키아", "path":(map.has("슬로바키아")) ? map.get("슬로바키아").path : "", "value":(map.has("슬로바키아")) ? map.get("슬로바키아").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"SI", "name":"슬로베니아", "path":(map.has("슬로베니아")) ? map.get("슬로베니아").path : "", "value":(map.has("슬로베니아")) ? map.get("슬로베니아").value : "0", "color":chart.colors.getIndex(1) },
				  <!-- { "id":"SB", "name":"Solomon Islands", "value":552267, "color":"#8aabb0" }, -->
				  { "id":"SO", "name":"소말리아", "path":(map.has("소말리아")) ? map.get("소말리아").path : "", "value":(map.has("소말리아")) ? map.get("소말리아").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"ZA", "name":"남아프리카 공화국", "path":(map.has("남아프리카 공화국")) ? map.get("남아프리카 공화국").path : "", "value":(map.has("남아프리카 공화국")) ? map.get("남아프리카 공화국").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"ES", "name":"스페인", "path":(map.has("스페인")) ? map.get("스페인").path : "", "value":(map.has("스페인")) ? map.get("스페인").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"LK", "name":"스리랑카", "path":(map.has("스리랑카")) ? map.get("스리랑카").path : "", "value":(map.has("스리랑카")) ? map.get("스리랑카").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"SD", "name":"수단", "path":(map.has("수단")) ? map.get("수단").path : "", "value":(map.has("수단")) ? map.get("수단").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"SR", "name":"수리남", "path":(map.has("수리남")) ? map.get("수리남").path : "", "value":(map.has("수리남")) ? map.get("수리남").value : "0", "color":chart.colors.getIndex(3) },
				  <!-- { "id":"SZ", "name":"Swaziland", "value":1203330, "color":chart.colors.getIndex(2) }, -->
				  { "id":"SE", "name":"스웨덴", "path":(map.has("스웨덴")) ? map.get("스웨덴").path : "", "value":(map.has("스웨덴")) ? map.get("스웨덴").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"CH", "name":"스위스", "path":(map.has("스위스")) ? map.get("스위스").path : "", "value":(map.has("스위스")) ? map.get("스위스").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"SY", "name":"시리아", "path":(map.has("시리아")) ? map.get("시리아").path : "", "value":(map.has("시리아")) ? map.get("시리아").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"TW", "name":"대만", "path":(map.has("대만")) ? map.get("대만").path : "", "value":(map.has("대만")) ? map.get("대만").value : "0", "color": chart.colors.getIndex(0) },
				  <!-- { "id":"TJ", "name":"Tajikistan", "value":6976958, "color": chart.colors.getIndex(0) }, -->
				  { "id":"TZ", "name":"탄자니아", "path":(map.has("탄자니아")) ? map.get("탄자니아").path : "", "value":(map.has("탄자니아")) ? map.get("탄자니아").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"TH", "name":"태국", "path":(map.has("태국")) ? map.get("태국").path : "", "value":(map.has("태국")) ? map.get("태국").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"TG", "name":"토고", "path":(map.has("토고")) ? map.get("토고").path : "", "value":(map.has("토고")) ? map.get("토고").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"TT", "name":"트리니다드 토바고", "path":(map.has("트리니다드 토바고")) ? map.get("트리니다드 토바고").path : "", "value":(map.has("트리니다드 토바고")) ? map.get("트리니다드 토바고").value : "0", "color":chart.colors.getIndex(4) },
				  { "id":"TN", "name":"튀니지", "path":(map.has("튀니지")) ? map.get("튀니지").path : "", "value":(map.has("튀니지")) ? map.get("튀니지").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"TR", "name":"터키", "path":(map.has("터키")) ? map.get("터키").path : "", "value":(map.has("터키")) ? map.get("터키").value : "0", "color":chart.colors.getIndex(1) },
				  <!-- { "id":"TM", "name":"Turkmenistan", "value":5105301, "color": chart.colors.getIndex(0) }, -->
				  { "id":"UG", "name":"우간다", "path":(map.has("우간다")) ? map.get("우간다").path : "", "value":(map.has("우간다")) ? map.get("우간다").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"UA", "name":"우크라이나", "path":(map.has("우크라이나")) ? map.get("우크라이나").path : "", "value":(map.has("우크라이나")) ? map.get("우크라이나").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"AE", "name":"아랍에미리트", "path":(map.has("아랍에미리트")) ? map.get("아랍에미리트").path : "", "value":(map.has("아랍에미리트")) ? map.get("아랍에미리트").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"GB", "name":"영국", "path":(map.has("영국")) ? map.get("영국").path : "", "value":(map.has("영국")) ? map.get("영국").value : "0", "color":chart.colors.getIndex(1) },
				  { "id":"US", "name":"미국", "path":(map.has("미국")) ? map.get("미국").path : "", "value":(map.has("미국")) ? map.get("미국").value : "0", "color":chart.colors.getIndex(4) },
				  { "id":"UY", "name":"우루과이", "path":(map.has("우루과이")) ? map.get("우루과이").path : "", "value":(map.has("우루과이")) ? map.get("우루과이").value : "0", "color":chart.colors.getIndex(3) },
				  { "id":"UZ", "name":"우즈베키스탄", "path":(map.has("우즈베키스탄")) ? map.get("우즈베키스탄").path : "", "value":(map.has("우즈베키스탄")) ? map.get("우즈베키스탄").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"VE", "name":"베네수엘라", "path":(map.has("베네수엘라")) ? map.get("베네수엘라").path : "", "value":(map.has("베네수엘라")) ? map.get("베네수엘라").value : "0", "color":chart.colors.getIndex(3) },
				  { "id":"PS", "name":"웨스트 뱅크 및 가자 지구", "path":(map.has("웨스트 뱅크 및 가자 지구")) ? map.get("웨스트 뱅크 및 가자 지구").path : "", "value":(map.has("웨스트 뱅크 및 가자 지구")) ? map.get("웨스트 뱅크 및 가자 지구").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"VN", "name":"베트남", "path":(map.has("베트남")) ? map.get("베트남").path : "", "value":(map.has("베트남")) ? map.get("베트남").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"YE", "name":"예멘", "path":(map.has("예멘")) ? map.get("예멘").path : "", "value":(map.has("예멘")) ? map.get("예멘").value : "0", "color": chart.colors.getIndex(0) },
				  { "id":"ZM", "name":"잠비아", "path":(map.has("잠비아")) ? map.get("잠비아").path : "", "value":(map.has("잠비아")) ? map.get("잠비아").value : "0", "color":chart.colors.getIndex(2) },
				  { "id":"ZW", "name":"짐바브웨", "path":(map.has("짐바브웨")) ? map.get("짐바브웨").path : "", "value":(map.has("짐바브웨")) ? map.get("짐바브웨").value : "0", "color":chart.colors.getIndex(2) }
				];
				
				<!-- Set map definition -->
				chart.geodata = am4geodata_worldLow;
				
				<!-- Set projection -->
				chart.projection = new am4maps.projections.Miller();
				
				<!-- Create map polygon series -->
				var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());
				polygonSeries.exclude = ["AQ"];
				polygonSeries.useGeodata = true;
				polygonSeries.nonScalingStroke = true;
				polygonSeries.strokeWidth = 0.5;
				polygonSeries.calculateVisualCenter = true;
				
				var imageSeries = chart.series.push(new am4maps.MapImageSeries());
				imageSeries.data = mapData;
				imageSeries.dataFields.value = "value";
				
				var imageTemplate = imageSeries.mapImages.template;
				imageTemplate.nonScaling = true
				
				var circle = imageTemplate.createChild(am4core.Circle);
				circle.fillOpacity = 0.7;
				circle.propertyFields.fill = "color";
				circle.tooltipText = "{name}: [bold]{value}[/]";
				circle.url = "{path}";
				
				
				imageSeries.heatRules.push({
				  "target": circle,
				  "property": "radius",
				  "min": 4,
				  "max": 30,
				  "dataField": "value"
				})
				
				imageTemplate.adapter.add("latitude", function(latitude, target) {
				  var polygon = polygonSeries.getPolygonById(target.dataItem.dataContext.id);
				  if(polygon){
				    return polygon.visualLatitude;
				   }
				   return latitude;
				})
				
				imageTemplate.adapter.add("longitude", function(longitude, target) {
				  var polygon = polygonSeries.getPolygonById(target.dataItem.dataContext.id);
				  if(polygon){
				    return polygon.visualLongitude;
				   }
				   return longitude;
				})
			}); 
			</script>
		</div>
	</body>
</html>
